/* Class styles */

/* Custom Navbar Background Color */
.bg-darker {
    /* background-color: #2b2d42; */
    background-color: #284b63;
}
/* Custom Navbar Text Color */

.main_page_body {
    /* background-color: #8d99ae ; */
    background-color: #353535;
    color: #edf2f4;
}

.sketch {
    width: 500px;
    height: 500px;
    object-fit: fill;
}

/* ID styles */
#main_page_content_stylying{
    font-size: larger;
    font-weight: 450;
}