/* Class styles */

/* Custom Navbar Background Color */
.bg-darker {
    /* background-color: #2b2d42; */
    background-color: #284b63;
}
/* Custom Navbar Text Color */

.main_page_body {
    /* background-color: #8d99ae ; */
    background-color: #353535;
    color: #edf2f4;
}

.sketchContentPad {
    margin-top: 100px;
    margin-bottom: 100px;
}

#sketchUL {
    list-style-position: inside;
}
#mainNavBar .nav-link:hover {
    color: white;
}
/* ID styles */
#main_page_content_stylying {
    font-size: larger;
    font-weight: 450;
}

#sketchTitle {
    font-size: 100px;
}
#sketchH2 {
    color: #284b63;
    font-weight: 500;
}
